* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  margin-top: 2vh;
  border: 2px solid black;
}

#root {
  border: 0;
  width: 50vw;
  margin: 0 auto;
  margin-top: 2vh;
}

.App {
  background-color: #ddd;
  padding: 2vh;
  /* text-align: center; */
}

.header {
  margin-top: 0;
  background-color: #6aa84f;
  height: 15vh;
}

.navigation {
  width: 25%;
  height: 40vh;
  margin-right: 1vw;
  vertical-align: top;
  display: inline-block;
  background-color: #6fa8dc;
}

.main {
  width: 72%;
  padding: 0 0.5vw;
  vertical-align: top;
  background-color: #e06666;
  display: inline-block;
}

.subcontent {
  width: 30%;
  height: 30vh;
  margin: 2vh 0.5vw 0 0.5vw;
  background-color: #ffd966;
  display: inline-block;
}

.advertisement {
  height: 13vh;
  background-color: #b4a7d6;
  margin: 2vh 0.5vw;
}