#root {
  margin: 1vh 2vw;
}

.subtitle {
  color: #a057ff;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  background-color: #d3d3d3;
}

th, td {
  padding: 3vh 0.5vw;
}

td {
  color:#a057ff;
  font-weight: 600;
}

th {
  text-align: left;
  padding: 3vh 1vw;
}

.wide-col {
  width: 15vw;
  padding: 3vh 1vw;
}

button {
  width: 10vw;
  margin: 0 0.5vw;
  padding: 1vh 0;
}

.form-btn {
  border-radius: 10px;
  border: 0;
  color: white;
  font-weight: 800;
  background-color: #66bbff;
  cursor: pointer;
}

form {
  padding: 2vh;
  width: 30vw;
  border: 1px solid black;
}

form > * {
  display: block;
  margin: 2vh 0;
}

input {
  padding: 1vh;
}